body{
    background-color: #63CCFD;
    font-family: sans-serif;
    letter-spacing: 1.3px;

}
.top{
    width: 100%;
}

#logo{
  display: block;
   height: 14%;
   width: 14%;
   padding: 15px 23px;
}
#flower{
  display: block;
    height:150px;;
    width:100px;
}
#signup{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    align-self: center;
}
#compiling{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    color: #4683A4;
}
#signup_button{
   background-color:  #FDE854;
   border-radius: 10px;
   border: none;
   padding: 10px 75px;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   color: #988A3A;
   box-shadow: 0px 4px 0px #988A3A;
}
#signup_button:hover{
    transform: scale(1.1);
}
#signup_button:focus { 
    outline: none; 
  }
#email_box{
    display: block;
    background-color:  #FFFFFF;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    padding: 10px 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
   
}
::placeholder {
  color: rgb(187, 187, 187);
}

#email_box:focus { 
    outline: none; 
  }
#footer{
    position: absolute;
    bottom: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF
}
#heart{
    margin-left: 5px; 
    margin-right: 5px;
}

input {
    text-align: left;
  }
  
  ::-webkit-input-placeholder {
    text-align: left;
  }
  
  :-moz-placeholder {
    text-align: left;
  }
  input[type="text"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: right; 
} 
#linkedin{
    padding: 0px 3px;
}
a{
    text-decoration: none;
}

   
@media(max-width: 900px) {
    #flower{
      height: 120px;
      width: 80px;
      margin-top: 70px;
      }
      #logo{
        height: 70px;
        width: 110px;
      }
      #footer{
        font-size: 12px;
      }
  } 
  